/* nombre etiqueta {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
} */

/* .+class {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
}  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
}

body {
    text-align: -webkit-center;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo2 {
    width: 40px;
    height: 50px;
}

.logo3{
    width: 60px;
    height: 60px;
    margin-bottom: -10px;
}

.logo4 {
    width: 60px;
    height: 50px;
}

.spn2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
#container {
    width: 200px;
    height: 200px;
  }
  
  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }
  
#spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
  }
.selector-for-some-widget {
    box-sizing: content-box;
}

.container {
    display: flex;
    margin-top: 15px;
}

.items, .dropdown-toggle {
    color: white;
}

.dropdown-toggle:hover, .items:hover {
    color: black;
    background-color: white;
    margin: 5px;
    border-radius: 20%;
}

.flag1 {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.flag1:hover {
    color: black;
    background-color: white;
}

.d-flex {
    padding-bottom: 13px;
}
.Liga {
    width: 250px;
    height: 250px;
}

header ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.carousel2{
    font-size: 50px;
    color: black;
}

.carousel3 {
    font-size: 30px;
    color: black;
}

.Box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    padding: 20px;
}

.Box2{
    margin-top: -5px;
}
.Box2 div{
    margin: 5px;
}

.logo7 {
    width: 125px;
    height: 125px;
    margin-top: -25px;
 }

.Box10 ul li{
    display: inline-flex;
    flex-direction: row;
}

.fa-brands {
    font-size: 30px;
    color: #000;
    margin: 5px;
}